# Environment Variables

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDNVmeqq8lYqOgI51-AbC3_shGD5OTrSPw
VITE_FIREBASE_AUTH_DOMAIN=labfreeze-web-manager-2026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=labfreeze-web-manager-2026
VITE_FIREBASE_STORAGE_BUCKET=labfreeze-web-manager-2026.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=462307237061
VITE_FIREBASE_APP_ID=1:462307237061:web:b932842b1225fc6bfc64ac

VITE_GEMINI_API_KEY=your-google-gemini-api-key

# For Scheduled Alerts (Backend Only)
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password