rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read: if true;
      allow update, delete: if request.auth != null;
    }

    match /samples/{docId} {
      allow read, write: if request.auth != null;
    }

    match /hold_cases/{docId} {
      allow read, write: if request.auth != null;
    }

    match /settings/{docId} {
      allow read, write: if request.auth != null;
    }

    match /inventory_schedules/{docId} {
      allow read, write: if request.auth != null;
    }

    match /evaluations/{docId} {
      allow read, write: if request.auth != null;
    }

    match /fridges/{docId} {
      allow read, write: if request.auth != null;
    }

    match /inventory_logs/{docId} {
      allow read, write: if request.auth != null;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}